.Global{
  text-align: center;
  padding: 100px;
}
.BookSearchHeader {
  color: rgba(255, 255, 255, 0.8);
  font-size: 2em;
  letter-spacing: 0.25em;
  padding-bottom: 1em;
}
.book{
  display: inline-block;
  width: 220px;
  height: 220px;
  margin: 10px;
  text-align: left;
  cursor: pointer;
  position: relative;

}
.bookImage{
  width: 220px;
  height: 220px;
  border: 4px solid #0F0F0F;
  border-radius: 4px;
  object-fit: cover;
  position: absolute;
  /* opacity: 0.5; */

}
.titleText{
  background-color: #000;
  color: #fff;
  opacity: 0.75;
  width: 214px;
  margin-left: 3px;
  /* text-align: center; */
  position: absolute;
  bottom: 0;
  padding: 10px;
}
.scrollDown {
  height:500px;
  background:lightcyan;
}
#scroll-to {
background: lightcyan;
margin:0;
padding:50px 0;
transition:all 0.5s linear
}
#scroll-to.view {
background: black;
color:white;
}

.caret {
  display: none;
  }
a {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.2em;
  color: rgba(153, 204, 255, 0.9)
}
.carousel-indicators {
  display: none;
}
.end {
  text-align: center;
}

/* //////////////////////////////// */


body {
  background: url("https://i.pinimg.com/originals/57/f5/fa/57f5fa649b7683b5ee4999242e873e63.jpg");
  font-family: 'Work Sans', sans-serif;
  /* text-shadow: 2px 2px black; */

}
h5 {
  letter-spacing: 0.25em;
}
img {
  width: 100%;
  max-width: 400px;
  height: auto;  
  border-radius: 8px;
  box-shadow: 18px 25px 20px -6px black;
  opacity: 0.4;
}
#imageTwo {
  margin-left: 15%;
  margin-top: 13%;
  float: left;
}
.paraRight {
  margin: 5%;
  margin-right: 10%;
  min-width: 400px;
}
#imageThree {
  margin-right: 35%;
  margin-top: 10%;
  float: right;
}
.paraLeft {
  margin: 5%;
  margin-left: 30%;
  min-width: 400px;
}
#imageFour {
  margin-left: 15%;
  margin-top: 10%;
  float: left;
}
#imageFive {
  margin-left: 15%;
  margin-top: 7%;
  float: left;
  opacity: 0.3;
}
#imageSix {
  margin-right: 37%;
  margin-top: 25%;
  float: right;
}
#imageSeven {
  margin-left: 10%;
  margin-top: 18%;
  float: left;
}
#imageEight {
  margin-right: 25%;
  margin-top: 15%;
  float: right;
}
.paraLeftSpecial {
  margin: 5%;
  margin-left: 25%; 
}
.paraInside {
  margin: 5%;
}
#imageNine {
  margin-left: 12%;
  margin-top: 12%;
  float: left;
}
#imageTen {
  margin-right: 25%;
  margin-top: 15%;
  float: right;
}
#imageEleven {
  margin-left: 12%;
  margin-top: 12%;
  float: left;
  opacity: 0.3;
}
#imageTwelve {
  margin-right: 25%;
  margin-top: 15%;
  float: right;
}
#imageThirteen {
  margin-left: 12%;
  margin-top: 10%;
  float: left;
}


.StickyNav {
  opacity: 0.6;
}
#button {
  margin-left: 10px;
  margin-right: 10px;
}

/* ///////////////////////////////// */


.ib {
  text-align: center;
}
.text-flicker-in-glow-subtle {
  display: inline-block;
  padding-right: 13px;
  font-size: 2vw;
  letter-spacing: 1em;
  	-webkit-animation: text-flicker-in-glow 3.0s linear both;
	        animation: text-flicker-in-glow 3.0s linear both;
}
.text-flicker-in-glow-matter {
  display: inline-block;
  padding-left: 13px;
  font-size: 2vw;
  letter-spacing: 1em;
	-webkit-animation: text-flicker-in-glow 5.0s linear both;
	        animation: text-flicker-in-glow 5.0s linear both;
}

@-webkit-keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}



.text-shadow-drop-bl {
	-webkit-animation: text-shadow-drop-bl 0s both;
	        animation: text-shadow-drop-bl 0s both;
}
@-webkit-keyframes text-shadow-drop-bl {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: -6px 6px 18px rgba(0, 0, 0, 0.35);
  }
}
@keyframes text-shadow-drop-bl {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: -6px 6px 18px rgba(0, 0, 0, 0.35);
  }
}


.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 500ms both;
          animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 500ms both;
  
}
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
#aShortStory {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 5000ms both;
          animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 5000ms both;  
}
#byNicholasCrofts {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 6000ms both;
          animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 6000ms both;  
}





@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

#headphones {
  width: 30px;
  height: 30px;
  opacity: 0.8;
  box-shadow: none;
}
.heartbeat {
	-webkit-animation: heartbeat 3000ms cubic-bezier(0.075, 0.820, 0.165, 1.000) 7000ms both;
	        animation: heartbeat 3000ms cubic-bezier(0.075, 0.820, 0.165, 1.000) 7000ms both;
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}





.panel-group {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.panel-title,
.panel-body {
  text-align: center;
}

.btn-block {
  display: block;
}


.blink {
  box-shadow: none;
  width: 15px;
  height: 15px;
	-webkit-animation: blink 8s ease-in-out 2 both;
	        animation: blink 8s ease-in-out 2 both;
}
@-webkit-keyframes blink {
  0%,
  50%,
  100% {
    opacity: 0.5;
  }
  25%,
  75% {
    opacity: 0.1;
  }
}
@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 0.8;
  }
  25%,
  75% {
    opacity: 0.1;
  }
}











